.card {
    width: 100%;
    max-width: 518px;
    height: 150px;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*.card:nth-child(1){*/
/*    max-width: 788px;*/
/*    height: 262px;*/
/*}*/

/*.card:nth-child(2){*/
/*    max-width: 788px;*/
/*    height: 262px;*/
/*}*/

.title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color:rgba(40, 38, 38, 1);
}

.info {
    display: flex;
    justify-content: space-between;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(118, 118, 118, 1);

}

@media screen and (max-width: 1200px) {
    .card:nth-child(1){
        max-width: 518px;
        height: 150px;
    }

    .card:nth-child(2){
        max-width: 518px;
        height: 150px;
    }
}

@media screen and (min-width: 1610px) {
    .card:nth-child(1){
        max-width: 788px;
        height: 262px;
    }

    .card:nth-child(2){
        max-width: 788px;
        height: 262px;
    }
}